@media screen and (min-width: 800px) {
    .contentbox {
        max-width: 800px;
    }
    footer {
        margin: 0 auto;
    }
    .nav-items{
        font-size: 60px;
        height: 200px;
    } 
    .navigation #logo {
        width: 200px;
        height: auto;
    }
    #weather-icon {
        width: 25%;
    }
}