@media screen and (min-width: 550px) {
    .nav-items{
        font-size: 45px;
    } 
    .navigation #logo {
        width: 200px;
        height: auto;
    }
    .navigation {
        height: 185px;
    }
}